* {
	box-sizing: border-box;
}

/* grid */
nav {
	grid-area: nav;
}

header {
	grid-area: header;
}

main {
	grid-area: main;
}

aside {
	grid-area: aside;
}

body {
	display: grid;
	grid-template-columns: 1fr 6fr 3fr;
	grid-template-rows: 10vh 90vh;
	grid-template-areas:
		'nav header header'
		'nav main aside';
}

/* nav */

section,
.search-bar,
li {
	background-color: lightblue;
}

ul {
	padding: 0;
	list-style-type: none;
}
li {
	margin: 10px 0;
}

/* header */

header {
	display: flex;
}

header button,
header div,
header p {
	width: 30vw;
}

header button {
	height: 30px;
	width: 80px;
	margin: auto;
	margin-left: 0;
}

.search-bar {
	text-align: center;
}

header p {
	text-align: right;
}
